out
test
*_tester.py
*.pyc
save_structure*
.pytest_cache
.vscode
.ruff_cache
*.png
!crates/gui/resources/*.png
!docs/src/assets/*.png
crates/py_bindings/examples/output
crates/py_bindings/examples/main.log
server
test.py
lock.mdb
__pycache__
site/

# Added by cargo

/target
